<form [class.disabled]="disabled === true">
  <fieldset class="starability-fade">
    <input [disabled]="disabled" type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating."/>
    <!-- <input [disabled]="disabled" type="radio" id="rate{{componentId + 1}}" name="rating" value="1" />
    <label for="rate{{componentId + 1}}"></label>
    <input [disabled]="disabled" type="radio" id="rate{{componentId + 2}}" name="rating" value="2" />
    <label for="rate{{componentId + 2}}"></label>
    <input [disabled]="disabled" type="radio" id="rate{{componentId + 3}}" name="rating" value="3" />
    <label for="rate{{componentId + 3}}"></label>
    <input [disabled]="disabled" type="radio" id="rate{{componentId + 4}}" name="rating" value="4" />
    <label for="rate{{componentId + 4}}"></label>
    <input [disabled]="disabled" type="radio" id="rate{{componentId + 5}}" name="rating" value="5" />
    <label for="rate{{componentId + 5}}"></label> -->

    <ng-container *ngFor="let star of listStar">
      <input [disabled]="disabled" type="radio" id="rate{{componentId + star}}" name="rating" [value]="star" />
      <label for="rate{{componentId + star}}"></label>
    </ng-container>
    <span class="starability-focus-ring"></span>
  </fieldset>
</form>
